@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>PUCRS - Tutoring</h1>
    <p class="lead">This webapp allows students to apply to tutoring, as well as to seek out tutors for help.</p>
    <p><a href="" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Class Listing</h2>
        <p><a class="btn btn-default" href="@Url.Action("Index", "Class")">Go &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>More Options</h2>
        <p>Stuff.</p>
        <p><a class="btn btn-default" href="@Url.Action("Manage", "Account")">Change Account Credentials &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Another Panel</h2>
        <p>Stuff</p>
        <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
    </div>
</div>